<header class="header py-4 px-6 flex justify-between items-center shadow-md">
  <div class="text-3xl font-bold">
    <a routerLink="/" class="text-[var(--accent)] hover:opacity-80 transition">IMDb</a>
  </div>

  <nav class="space-x-6 flex items-center">
    <a routerLink="/movies" class="hover:opacity-80">Películas</a>
    <a routerLink="/actors" class="hover:opacity-80">Actores</a>

    <button (click)="toggleTheme()" class="px-3 py-1 rounded border border-[var(--border-color)]">
      {{ isDarkMode ? 'Claro' : 'Oscuro' }}
    </button>

    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <span class="text-[var(--text-secondary)]">Hola, {{ username }}</span>
      <button (click)="logout()" class="primary px-4 py-2 rounded">Cerrar sesión</button>
    </ng-container>

    <ng-template #notLoggedIn>
      <a routerLink="/login" class="hover:opacity-80">Iniciar Sesión</a>
      <a routerLink="/register" class="button primary px-4 py-2 rounded">Registrarse</a>
    </ng-template>
  </nav>
</header>
