<div class="container mx-auto py-6">
  <h2 class="text-4xl font-bold mb-6 text-yellow-400">Películas</h2>

  <!-- Barra de búsqueda y filtros -->
  <div class="flex space-x-4 mb-6">
    <input type="text" placeholder="Buscar películas..."
      class="w-full p-3 border rounded bg-gray-800 text-white placeholder-gray-400">
    <select class="p-3 border rounded bg-gray-800 text-white">
      <option>Todos los géneros</option>
      <option>Acción</option>
      <option>Drama</option>
      <option>Comedia</option>
    </select>
    <select class="p-3 border rounded bg-gray-800 text-white">
      <option>Ordenar por título</option>
      <option>Más recientes</option>
      <option>Más populares</option>
    </select>
  </div>

  <!-- Listado de películas -->
  <div *ngFor="let movie of movies" class="border p-3 mb-2">
    <h3>{{ movie.title }}</h3>
    <p>{{ movie.description }}</p>
  </div>

  <!-- Controles de paginación -->
  <div class="flex items-center space-x-4">
    <button (click)="prevPage()" [disabled]="currentPage === 1" style="cursor: pointer;">
      Anterior
    </button>
    <span>Página {{currentPage}} de {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" style="cursor: pointer;">
      Siguiente
    </button>
  </div>

</div>
